name: BeskarOS heavy CI

on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  hyperdrive:
    name: Hyperdrive
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          targets: x86_64-unknown-linux-gnu
          components: clippy, miri, rust-src

      - name: Build
        run: cargo build --package hyperdrive

      - name: Build documentation
        run: cargo doc --package hyperdrive --no-deps

      - name: Run tests
        run: cargo test --package hyperdrive

      - name: Run Clippy
        run: cargo clippy --package hyperdrive -- -D warnings

      - name: Run Miri
        run: cargo miri test --package hyperdrive --lib

  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          targets: x86_64-unknown-none, x86_64-unknown-uefi
          components: llvm-tools-preview, rust-src

      - name: Build
        run: cargo build

      - name: Run tests
        run: |
          cargo test --package beskar-core
          cargo test --package beskar-hal --all-targets
          cargo test --package heaperion
          cargo test --package holonet
          cargo test --package storage
          cargo test --package video

  fmt:
    name: Format & Clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          targets: x86_64-unknown-none, x86_64-unknown-uefi
          components: clippy, rustfmt, llvm-tools-preview, rust-src

      - name: Run Clippy
        run: |
          cargo clippy --package beskar-core -- -D warnings
          cargo clippy --package beskar-hal --all-targets -- -D warnings
          cargo clippy --package beskar-lib -- -D warnings
          cargo clippy --package bootloader -- -D warnings
          cargo clippy --package bootloader-api -- -D warnings
          cargo clippy --package heaperion -- -D warnings
          cargo clippy --package holonet -- -D warnings
          cargo clippy --package video -- -D warnings
          cargo clippy --package bashkar -- -D warnings
          cargo clippy --package acpi -- -D warnings
          cargo clippy --package pci -- -D warnings
          cargo clippy --package storage -- -D warnings
          cargo clippy --package kernel -- -D warnings

      - name: Run Rustfmt
        run: cargo fmt --verbose --all -- --check
